// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

.bold () {
	font-weight: bold;
	font-family: 'Aclonica';
}

.marginDisplaySection () {
	margin: @marginRoundSection;
	display: flex;
}

.container {
	border: 3px solid blue;
	max-width: 40em;
	margin: 0 auto;	

	@breakPoint: 500px;

	@marginRoundSection: 2rem 2rem;
	
	@marginSideParagraphAndList: 2rem;

	header, footer {
		.marginDisplaySection ();
		justify-content: flex-end;

		nav {
			a {
				margin: 1rem;
			}
			
		}
	}

	section {

		.marginDisplaySection ();
		justify-content: space-between;
		
		div {
			width: 40em;

			ul {
				margin-left: @marginSideParagraphAndList;

				li {
					margin: 0.3em 0;
				}
			}

			p {
				margin-right: @marginSideParagraphAndList;
				}
			}
		}

		h2 {
			text-align: center;
			font-size: 1.3rem;
			margin-bottom: 0.5em;
		}

		table {
			width: 100%;

			th {
				text-align: left;
				.bold();
			}
		}
	}

	address {
		margin: @marginRoundSection;

		h2 {
			.bold();
		}

		p {
			margin: 0.5em 0;
		}
	}

}